body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p{
    color:  dimgray;;
}

h1 {
    margin: 10px 0px;
    font-size: 50px;
}

.flexble-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}


.btn{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(255, 189, 134));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-bannar{
    background-image: url(img/top-banner.png);
    background-repeat:no-repeat;
    
}

.dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

    

}

.experiences-area{
    background-image: url(img/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}

.experiences-item{
    width: 40%;
    margin: 0 5%;
    padding-left: 20px;
    box-shadow: 10px 15px 40px  gray;
    

}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,rgb(255, 189, 134));
    border-image-slice:1;
}

#web-developer{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);;
    border-image-slice:1;
    
}

footer{
    text-align: center;
}
